a {
    text-decoration: none;
    color: #000000;
}

#column1 {
    width: 38% !important;
    float: left !important;
}
#column1 h1 {
    font-family: 'FuturaT-Light' !important;
    margin: 0 0 0 0 !important;
    padding: 0 4.3% 0 4.3% !important;
    text-align:right !important;
    color: #FB5B1F !important;
    font-size: 36pt !important;
    display: block !important;
    position: relative !important;
    top: auto !important;
}

#column2 {
    display: none !important;
}

#column3 {
    width: 62% !important;
    float: left !important;
}
#column3 .content {
    margin: 0 0 0 0 !important;
    padding: 0 1.0% 0 0 !important;
    display: block !important;
    position: relative !important;
    top: auto !important;
}
#column3 .section_title {
    font-family: 'FuturaT-Light' !important;
    font-size: 22pt !important;
}
#column3 h1 {
    font-family: 'FuturaT-Light' !important;
    font-size: 14pt !important;
}
#column3 p, #column3 li {
    font-family: 'FuturaT-Book' !important;
    font-size: 9pt !important;
}