/*
 * Custom CSS
 */

:root {
  --bs-body-bg: var(--bs-gray-100);
  --section-margin: 4em;
  --page-top-margin: 10em;
}

html {
  /*font-size:1.25em;*/
}

body {
  font-family: FuturaT-Light;
}

h1, h2 {
  font-family: FuturaT-BoldOblique;
}

h3 {
  font-family: FuturaT-BookOblique;
}

div .section {
  margin-bottom: var(--section-margin);
}

#experience .job {
  margin-bottom: var(--section-margin);
}

.publication .title a {
  font-weight: bold;
}